*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.full-name {
  font-size: 18px;
  color: rgb(25, 118, 210);
  font-weight: 500;
  margin-bottom: 12px;
}

#full-name-clickable {
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.info-row {
  margin-bottom: 12px;
}